:root {
    --black: #0D0D0D;
    --white: #fff;

    /* grey is for example used as a background, button in schedule and contact form*/
    --grey: #F2F1F0;
    --grey-rgb: 242, 241, 240;

    /* the text in the forms */
    --text-grey: #696969;

    /* All red text*/
    --text-red: #C10009;

    /* All red buttons*/
    --button-red: #D02E42;

    /* the footer background*/
    --footer-red: #D2394C;
}


/*  B A S I C S T Y L I N G    */
body {
    font-family: "crimson text", serif;
    color: var(--black);
}

h1,
h2,
h3 {
    font-family: "crimson pro", serif;
    color: var(--text-red);
    font-weight: 500;
}

h1 {
    text-transform: uppercase;
    font-size: 2.3em;
    text-align: center;
}


p {
    color: var(--black);

}

/*  B A S I C  S T U F F  */

.hide {
    display: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    font-family: "crimson text", serif;
}

/*  S T Y L I N G   */


.red-button {
    background-color: var(--button-red);
    color: var(--white);
    padding: .5rem 2rem;
    font-size: 22px;
    border: none;
}

.grey-button {
    background-color: var(--grey);
    padding: .5rem 2rem;
    font-size: 22px;
    border: none;
}

.red-text {
    color: var(--text-red);
}


/*    FRONT PAGE   */

main.front-page-grid {
    display: grid;
    grid-template-columns: 1fr;
}
.fp-header{
    grid-column: 1/3;
    padding-top:1.2em;
}

.gudrun-live{
    background: var(--grey);
}

iframe.front-page-youtube {
    width: 50vw;
    height: 28em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.the-video-title-fetched{
    text-align: center;
}

article.newsletter-updates{
    background-image: url(../assets/img/test.png);
     height: 100%;

  /* Create the parallax scrolling effect */
/*  background-attachment: fixed;*/
  background-position: -100px;
  background-repeat: no-repeat;
  background-size:cover;


/*
    display:grid;
    grid-template-columns: 1fr;
*/
    padding-left: 45vw;
}
.transparent-backg{
    background: rgba(var(--grey-rgb),0.7);
    width:40vw;
/*    display: flex;*/
/*    flex-direction: row;*/


}

.newsletter-updates .fp-header{
    text-align:left;
}
.newsletter-updates button{
/*    margin-right: auto;*/
}

.text-about-newsletter{
    width:30em;
    padding:2em 4em;
/*    margin-left: auto;*/
}

.newsletter-signup-form{
/*display:flex;*/
    padding:2em 4em;
    margin-right: auto;
/*    text-align: center;*/
}
.fp-newsletter{
    display:flex;
    margin:1em;
    background: var(--grey);
    border: none;
    color: var(--text-grey);
    padding: .8em 1.2em;
    font-size: 14px;
    width: 18em;
    margin: 1.7em;
}
.newsletter-signup-form > .red-button{
    margin-top: .2em
}



.debut-album {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--grey);
    margin:4em 0;
}

.fp-album-cover{
    width:24em;
    padding:0em 2em;
    display: block;
    margin-left: auto;
}
.about-album{
    width:28em;
    padding:0em 3em;
    display: block;
    margin-right: auto;
/*    text-align: center;*/
}
.about-album > button{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
}

.gudruns-gallery{

}

.theInstagram{

}


